fastapi==0.109.2
uvicorn[standard]==0.27.0.post1
motor==3.6.0
python-multipart==0.0.9
pydantic[email]==2.9.0
pydantic==2.9.0
httpx==0.27.0
loguru==0.7.2
uuid6==2024.1.12
Brotli==1.1.0
PyJWT==2.8.0
aioboto3==12.3.0
prometheus-fastapi-instrumentator==7.0.0
passlib==1.7.4
bcrypt==4.1.2
argon2-cffi==23.1.0
redis==5.2.1
tenacity>=8.0.0
